%h2 本当に注文しますか？
%table.table-striped
  %thead
    %tr
      %th 商品画像
      %th 商品名
      %th 価格
      %th
      %th 


  %tbody
  - @cart_items.each do |cart_item|
  %tr
  - product = Product.find(cart_item.product_id) 
    %td= image_tag product.image.to_s

    %td= cart_item.product.name

    %td= cart_item.product.price

    %td= link_to 'カートから削除', cart_item, method: :delete, class: "btn btn-danger", data: {comfir: 'カートから削除してもよろしいですか？'}

%h2 合計金額
%h2= @total_price
    

= form_for @order do |f|
  .form-group
    = f.label :address
    = f.text_area :address, as: :hidden
  .action 
    = f.submit 'はい',class: 'btn btn-primary'
  .action 
    = f.submit 'いいえ', name: :back, class: 'btn btn-primary'